<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.sold.spring.talks.mapper.BoardMapper">
		<select id="getBoardList" resultType="com.sold.spring.talks.dto.BoardDto">
			SELECT * FROM posts ORDER BY posts_num DESC LIMIT #{startIndex}, #{pageAmount};
		</select>
		<select id="totalPostsCount" resultType="int" >
			SELECT COUNT(*) FROM posts;
		</select>
	</mapper>